* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}
html {
  font-size: 67.25%;
}
body {
  /* height: 100vh;
  overflow-y: auto;
  perspective: 10px; */
  padding: 64rem 0 0 0;
  font-family: "rubik", sans-serif;
  line-height: 1;
  font-weight: 400;
  font-size: 4rem;
}
.footer {
  padding: 8.4rem 9.6rem 0rem 9.6rem;
  display: flex;
  flex-direction: column;
  height: 48rem;
  justify-content: space-evenly;
  align-content: space-around;
  /* position: fixed; */
  width: 100%;
  background-color: var(--primary);
  font-family: "Shantell", sans-serif;
  border-top-left-radius: 0rem 0rem;
  border-top-right-radius: 0rem 0rem;
  /* transition: all 1s linear; */
  /* border-top-left-radius: 400rem 45rem;
        border-top-right-radius: 400rem 45rem; */
}
.footer-content {
  display: grid;
  grid-template-columns: 2fr 3fr;
  padding-bottom: 4rem;
  /* padding-bottom: 6.4rem; */
  /* justify-content: center; */

  justify-content: space-between;
  column-gap: 3.2rem;
  /* align-items: center; */
  text-shadow: 0 0 5rem rgba(0, 0, 0, 0.322);
}
.footer-contactInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-weight: 500;
  gap: 2.4rem;
}

.footer-heading {
  font-weight: 700;
  letter-spacing: -0.5px;
  font-size: 2rem;
  color: var(--black-900);
  align-self: flex-start;
}

.email,
.mobile {
  position: relative;
  text-decoration: none;
  color: var(--black-900);
  font-size: 2.8rem;
}
.email:before,
.mobile:before {
  content: "";
  position: absolute;
  bottom: -2px;
  height: 2px;
  width: 0;
  background-color: var(--black-900);
  transition: width 0.3s ease;
}
.email:hover:before,
.mobile:hover:before {
  width: 100%;
}

.address p {
  display: inline-block;
  position: relative;
  text-decoration: none;
  color: var(--black-900);
  font-size: 2.8rem;
}
.address p:before {
  content: "";
  position: absolute;
  bottom: -2px;
  height: 2px;
  width: 0;
  background-color: var(--black-900);
  transition: width 0.3s ease;
}

.address p:hover:before {
  width: 100%;
}

.digitalAddress {
  display: flex;
  flex-direction: column;
  line-height: 1.05;
  font-size: 2rem;
  align-items: flex-start;
  gap: 1.2rem;
}

.maps {
  display: flex;
  justify-content: center;
}
.underFooter {
  display: grid;
  grid-template-columns: 4fr 2fr;
  border-top: solid 0.2rem var(--black-900);
  font-size: 1.6rem;
  padding-top: 2.8rem;
  justify-content: space-evenly;
}
.links {
  text-decoration: none;
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: space-around;
}
.icon {
  color: var(--black-900);
  height: 2.8rem;
  width: 2.8rem;
  transition: all 0.2s ease-in-out;
}
.icon:hover {
  color: var(--black-900);
  border-radius: 10rem;
  padding: 0.4rem;
  height: 2rem;
  width: 2rem;
  background-color: var(--secondary);
}
.footer_priv,
.footer_tnc,
.footer_sponsor {
  color: var(--black-900);
  text-decoration: none;
  transition: all 0.3s;
}
.footer_priv:hover,
.footer_tnc:hover,
.footer_sponsor:hover {
  color: var(--black-900);
}

.socials {
  display: grid;
  grid-template-columns: 3fr 2fr;
  align-content: center;
  justify-content: end;
  text-align: end;
}
.footer-social {
  display: flex;
  gap: 1.2rem;
  align-items: center;
  justify-content: flex-end;
}
.social-link {
  align-self: center;
  justify-self: center;
  height: 2.8rem;
  width: 2.8rem;
}
.footer_heading {
  align-self: center;
}
