/* 1344 */
@media (max-width: 84em) {
  .footer-heading {
    font-size: 1.8rem;
  }
  html {
    font-size: 60%;
  }
}
/* 1248 */
@media (max-width: 78em) {
  html {
    font-size: 56.25%;
  }
  .footer {
    justify-content: space-around;
  }
  .footer-content {
    column-gap: 4rem;
  }
  iframe {
    height: 120%;
    width: 110;
  }
  .map {
    justify-content: flex-end;
  }

  .underFooter {
    grid-template-columns: 1fr 1fr;
    font-size: 1.6rem;
  }
  .footer-heading {
    font: 2rem;
  }
  .email,
  .mobile,
  .address p {
    font-size: 2.4rem;
    display: inline;
  }
  .footer-contactInfo {
    font-size: 1.6rem;
    align-items: flex-start;
  }
}
/* 1098 */
@media (max-width: 68em) {
  html {
    font-size: 50%;
  }
  iframe {
    height: 110%;
    width: auto;
  }
}
/* 944 */
@media (max-width: 59em) {
  html {
    font-size: 56.25%;
  }
  .footer {
    height: 64rem;
  }
  .footer-content {
    grid-template-columns: 1fr;
    /* padding-bottom: 2rem; */
    row-gap: 16rem;
  }
  .map {
    padding-bottom: 8rem;
  }
  iframe {
    height: 150%;
    width: 80%;
  }
  .footer-contactInfo {
    max-width: fit-content;
  }
  .email:before,
  .mobile:before,
  .address p:before {
    display: none;
  }
  .email,
  .mobile,
  .address p {
    display: inline;
    line-height: 1.1;
  }
  .digitalAddress {
    display: block;
  }
  .underFooter {
    padding-top: 1.6rem;
  }
}
/* 727 */
@media (max-width: 45em) {
  html {
    font-size: 50%;
  }
  iframe {
    height: 120%;
    width: 80%;
  }
  .footer-content {
    row-gap: 8rem;
  }
  .email,
  .mobile,
  .address p {
    font-size: 2rem;
  }
  .footer-heading {
    font-size: 1.6rem;
  }
  .underFooter {
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center;
    row-gap: 2rem;
  }
  .footer_heading {
    text-align: center;
  }
  .footer-social {
    align-items: flex-start;
    justify-content: flex-start;
  }
}
/* 544 */
@media (max-width: 34em) {
  html{
    font-size: 42%;
  }
  .footer {
    padding: 8.4rem 4.8rem 0rem 4.8rem;
  .footer-contactInfo {
    align-items: center;
    justify-content: center;
  }
  .footer-content{
    padding-bottom: 2rem;
  }
  .digitalAddress {
    gap: 1.4rem;
  }
}
