.carousel-container {
	position: relative;
	left: -5%;
	transform: rotateZ(7.86deg);
	width: 110%;
	margin-bottom: 50vh;
}

.card {
	background-color: red;
	border-radius: 30px;
	position: relative;
	height: 50vh;
	width: 100%;
}
