.carousel-container {
	position: relative;
	left: -5%;
	width: 110%;
	overflow: visible;
	height: 500px;
}

.owl-carousel{
	margin: 30px;
	padding: 30px;
	overflow: visible;
	height: max-content;
}

/* .card {
	background-color: red;
	border-radius: 30px;
	position: relative;
	height: 50vh;
	width: 100%;
} */
