/*
 * This style sheet needs to be included on every page.
*/

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html,
body {
	color: #fff;
	background-color: var(--primary-bg);
}

a {
	text-decoration: transparent;
}

:root {
	/* All the variables go here */
	--primary: #a374ff;
	--secondary: #ffd074;
	--tertiary: #17f1d1;

	--black-900: #1d1d1f;
}
